HighDef/sub-*/exp/
HighDef/sub-*/mesh/
HighDef/sub-*/mesh_old/
HighDef/sub-*/mri/
HighDef/sub-*/opt/
HighDef/sub-*/opt-*
HighDef/sub-*/results/
HighDef/old-sub-*/exp/
HighDef/old-sub-*/mesh/
HighDef/old-sub-*/mri/
HighDef/old-sub-*/opt/
HighDef/old-sub-*/results/
TMS_loc_results/
*-outdated-*
Figures/
*.mgh
*Zone.Identifier
*.hdf5